@font-face {
    font-family: 'BebasNeueRegular';
    src: url('BebasNeue-webfont.eot');
    src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('BebasNeue-webfont.woff') format('woff'),
         url('BebasNeue-webfont.ttf') format('truetype'),
         url('BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {
    background: #222;
    color: #eee;
}

canvas {
    /* firefox support */
    position: relative;

    /* centering */
    display:inline-table;
    padding-left: 0;

    margin-top: 20px;
    box-shadow: 0 0 44px rgba(0, 0, 0, 0.5);
}

.layout {
    text-align:center;
    margin: 0 auto;
}